.button{
    -fx-background-color: #000000;
    -fx-background-radius: 5em;
}

.toggle-button{
    -fx-background-radius: 5em;
    -fx-background-color: #000000;
}

.TableView {
    -fx-background-color: gray;
}

.root {
    -fx-background-color: #000000;
}

.menu-bar{
    -fx-background-color: #333333;
}

.menu-item .label{
    -fx-text-fill: #a6a6a6;
}

.menu:hover{
    -fx-background-color: #666666;
}